OPENROUTER_API_KEY=your_openrouter_api_key_here
OPENROUTER_API_BASE=https://openrouter.ai/api/v1
OPENROUTER_MODEL=nvidia/nemotron-3-super-120b-a12b:free
EMBEDDING_MODEL=nvidia/llama-nemotron-embed-vl-1b-v2:free
DB_USER=myuser
DB_PASSWORD=mypassword
DB_HOST=db
DB_PORT=5432
DB_NAME=mydatabase

# DATA
FRED_API_KEY=fred_key_here
POLYGON_API_KEY=polygon_key_here